<p>
  <b>Profissional:</b>
  <%=h @estabelecimento_profissional.profissional_id %>
</p>

<p>
  <b>Estabelecimento:</b>
  <%=h @estabelecimento_profissional.estabelecimento_id %>
</p>


<%= link_to 'Edit', edit_estabelecimento_profissional_path(@estabelecimento_profissional) %> |
<%= link_to 'Back', estabelecimento_profissionals_path %>