<p>
  <b>Type convenio:</b>
  <%=h @type_convenio_especialidade.type_convenio_id %>
</p>

<p>
  <b>Especialidade:</b>
  <%=h @type_convenio_especialidade.especialidade_id %>
</p>


<%= link_to 'Edit', edit_type_convenio_especialidade_path(@type_convenio_especialidade) %> |
<%= link_to 'Back', type_convenio_especialidades_path %>