<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Agendamento</title>
    <%= stylesheet_link_tag 'system' %>
    <%= stylesheet_link_tag 'scaffold2'%>
    <%= javascript_include_tag :all %>
    <%= calendar_date_select_includes :style => "default", :locale => 'pt'%>
    <%= active_scaffold_includes %>
    <script type="text/javascript">
      var $j = jQuery.noConflict();
    </script>
  </head>
  <body>
    <div id="header">

    </div>

    <div id ="menu">
      <div id="area_login"> Bem vindo <%= session[:user_name] %>, <%=  link_to  "Sair", logout_url%> <br/> </div>
      <%= render :partial => "layouts/menu" %>
    </div>

    <p style="color: green"><%= flash[:notice] %></p>
    <%= yield %>

    <div id="footer">
      <p>Desenvolvido por: F.S.Informática | Contato: +55 21 8688-4820</p>
    </div>
  </body>
</html>
